body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}
html,
body,
#map {
  height: 100%;
  width: 100vw;
}

.feature-props {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay {
  z-index: 999999;
}

.big-button {
  position: relative;

  font-size: 3.5rem;
  padding: 3rem;

  background-color: #fff;
  color: #000;
  border-radius: 2rem;
  border: #000 0.25rem solid;

  cursor: crosshair;
}

.big-button:not(:last-child) {
  margin-right: 1rem;
}

.big-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#big-button-group {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    appearance: slider-vertical; /* Chromium */

    width: 100%;
    height: 100%;
}

#altitude-slider{
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  right: 1rem;

  width: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#altitude-slider input[type=range] {
  display: inline-block;
  flex-grow: 1;
}

#altitude-slider input[type=number] {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.5rem;
}